[submodule "debot-db"]
	path = debot-db
	url = git@github.com:shigeo-nakamura/debot-db.git
[submodule "debot-position-manager"]
	path = debot-position-manager
	url = git@github.com:shigeo-nakamura/debot-position-manager.git
[submodule "debot-market-analyzer"]
	path = debot-market-analyzer
	url = git@github.com:shigeo-nakamura/debot-market-analyzer.git
[submodule "debot-utils"]
	path = debot-utils
	url = git@github.com:shigeo-nakamura/debot-utils.git
[submodule "dex-client"]
	path = dex-client
	url = git@github.com:shigeo-nakamura/dex-client.git
